@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-ExtraBlack.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
  font-weight: 900;
}

/* variables */
:root {
    --textcolour: #324a5d;
    --dgrey: #414345;
    --grey: #676969;
    --lgrey: #f6f6f6;
    --pink: #ef3f5b;
    --white: #ffffff;
    --black: #000000;
}

/* standard properties */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1;
}

body * {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    transition: all 0.5s ease;
}

/* General Styles */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}
.pageWrap.mainWrap {
    margin: 50px 0 100px;
}
.button,
#searchsubmit {
    background-color: var(--red);
    padding: 10px 40px;
    color: var(--white);
    font-weight: 500;
    display: inline-block;
    border-radius: 4.4px;
    cursor: pointer;
    line-height: 1em;
    text-align: center;
}
.button:hover,
#searchsubmit:hover {
    background-color: var(--pink) !important;
    color: var(--white);
}
.button-transparent-red {
    background-color: transparent;
    outline: 1px solid var(--pink);
    color: var(--black);
}
.button-transparent-white {
    background-color: transparent;
    outline: 1px solid var(--white);
    color: var(--white);
}
.button-black-text {
    color: var(--black);
}
.contentWrapper {
    max-width: 1380px;
    margin: auto;
}
.textColourWhite {
    color: var(--white) !important;
}
.textColourPink {
    color: var(--pink) !important;
}
.textColourDGreen {
    color: var(--textcolour) !important;
}
.textCenter {
    text-align: center !important;
}
/* End General Styles */

/* Font Style */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--textcolour);
    margin-bottom: 20px;
    font-weight: 600;
}
h1,
h1 span {
    font-size: 2.125rem;
    line-height: 1;
}
h1 span {
    font-weight: 200;
}
h2 {
    font-size: 1.875rem;
    line-height: 1.067;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.083;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.1;
}
h5 {
    font-size: 1.125;
    line-height: 1.111;
}
h6 {
    font-size: 1rem;
    line-height: 1.125;
}
p,
li,
a,
td,
th,
#s {
    color: var(--textcolour);
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
p,
ul,
ol,
table {
    margin-bottom: 20px;
}
/*
p:last-child {
  margin-bottom: 0;
}
*/
strong {
    font-weight: 500;
}
blockquote {
    margin-bottom: 20px;
}
blockquote p {
    font-weight: 600;
    line-height: 1.4em;
}
ul,
ol {
    padding-left: 20px;
    margin-top: -10px;
}
ul {
    list-style-type: disc;
    color: var(--white);
    padding-left: 30px;
}
ol {
    list-style-type: decimal;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
    margin-top: 0;
}
table {
    width: 100%;
}
table th {
    background-color: var(--grey);
    color: var(--black);
    font-weight: 600;
    text-align: left;
}
table th,
table td {
    padding: 5px;
    border: 1px solid var(--grey);
}
table tr:nth-child(2n) {
    background-color: var(--white);
}
.container a {
    font-weight: 600;
    color: var(--pink);
    text-decoration: none;
    position: relative;
}
.container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: var(--pink);
    transition: width 0.3s ease-in-out;
}
.container a:hover::after {
    width: 100%;
}
.container a.no-line::after {
    content: none;
}
/* End Font Style */

/* Search */
#searchform {
    margin-bottom: 20px;
}
#searchform #s {
    border: 1px solid var(--dgrey);
}
#searchsubmit {
    border: 0;
    line-height: 1.6em;
    cursor: pointer;
    padding: 3px 22px;
}
/* End of Search */

/* Menu */
.menu,
.menu ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.menu {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 10px 0px;
}
.menu li {
    position: relative;
}
.menu li a {
    color: var(--white);
    width: 100%;
    display: block;
    position: relative;
}
.menu li:not(.current-menu-item) a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: var(--pink);
    transition: width 0.3s ease-in-out;
}
.menu > li:not(.current-menu-item):hover > a::after,
.sub-menu > li:not(.current-menu-item):hover > a::after {
    width: 100%;
}
.menu > li:hover > a,
.sub-menu > li:hover > a {
    color: var(--pink);
}
.menu > li.current-menu-item:hover {
    border-color: var(--pink);
}
.sub-menu {
    position: absolute;
    min-width: 250px;
    left: -20px;
    background-color: var(--dgrey);
    top: 40px;
    padding: 20px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px); /* Small shift for smooth effect */
    transition: all 0.3s ease-in-out;
    visibility: hidden; /* Hides it but keeps layout intact */
}

.menu > li.menu-item-has-children:hover .sub-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Now it will smoothly appear */
}
/* Delay hiding to prevent flickering */
.menu > li.menu-item-has-children .sub-menu {
    transition-delay: 0.3s; /* Adjust delay as needed */
}
.sub-menu .sub-menu {
    right: -100%;
    top: 0;
}
.sub-menu li {
    margin-top: 10px;
}
.sub-menu li a {
    padding: 5px 0px;
}
.sub-menu li:hover a {
    color: var(--pink);
}
/* End Menu */
#ContentWrap {
    padding: 50px 0;
}
/* Archive */
.navigation.pagination {
    background-color: unset;
    text-align: center;
    margin-top: 100px;
    padding: 0;
}
.page-numbers {
    background-color: var(--grey);
    padding: 4px 10px;
    color: var(--white);
    border-radius: 5px;
}
a.page-numbers:hover,
.page-numbers.current {
    background-color: var(--pink);
    color: var(--white);
}

.postTitle {
    background-position: center;
    background-size: contain;
    padding: 50px 0;
    margin-bottom: 40px;
}

.postTitle .blogDate {
    color: var(--grey);
}

.archiveImage {
    max-width: 400px;
    float: right;
    margin: 0 0 20px 20px;
    border-radius: 25px;
}

.singleWrap b {
    font-weight: 700;
}

.archiveLoop {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 50px;
    margin-top: 100px;
}

.archiveItem:last-child {
    max-width: calc(50% - 50px);
}

.archiveItem {
    flex: 1 1 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 50%;
}

.archiveItem > .imgContainer {
    width: 100%;
    margin-bottom: 30px;
}
/* End of Archive */

@media only screen and (max-width: 1458px) {
    .archiveLoop {
        justify-content: center;
    }
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1060px) {
    .webinarItem,
    .webinarItem:last-child {
        flex: 1 1 50%;
        max-width: calc(50% - 25px);
    }

    .pastWebinar {
        flex-direction: column;
    }

    .pastWebinar img {
        margin: auto;
    }
}
